body {
    animation: bg-ani 60s infinite alternate;
    overflow: hidden;
    background: #FC5C7D;
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    background-size: 350%;
}

@keyframes bg-ani {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

    padding: 10px;
}


.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 1em;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#apiSyn {
    word-break: break-all
}